{% extends 'new_site/base.html' %}
{% load custom_filters %}

{% block title %}Альфа.Управление комнатами{% endblock %}
{% block content %}
<div class="rooms">
    <div class="schedule">
        <h1>Управление комнатами</h1>
        <form action="" method="POST" class="book_the_room" id="ScheduleForm">
            {%csrf_token %}
            <table class="site_table">{{form.as_table}}
                <tr>
                    <td colspan="2">
                        <button name="add" class="add" id="accept">Создать</button>
                    </td>
                </tr>
                <td colspan="2" id="del_container"></td>
                </tr>
                <tr></tr>
        </form>
        </table>

    </div>
</div>

<script>
    const csrftoken = document.getElementsByName('csrfmiddlewaretoken').item(0).value
    document.getElementById("id_id").addEventListener("change", get_room_info)

</script>

{% endblock %}