{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../../static/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>{% block title %}Document{% endblock %}</title>
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% endblock %}
</head>

<header>
    <div class="logo">
        <a href="/"><img width=80px src="../../static/img/logo.png" alt="logo"></a>
    </div>
    {% csrf_token %}
    <div class="nav">
        {% if request.user|has_group:"manager" %}
        <a href="/coworkers">Сотрудники</a>
        <a href="/addroom">Управление комнатами</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/logout">Выйти</a>
        {% endif %}
    </div>
</header>

<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>