{% extends 'new_site/base.html' %}
{% load custom_filters %}

{% block title %}Альфа.Сотрудники{% endblock %}
{% block content %}
<div class="schedule">
    <h1>Роли сотрудников</h1>
    <form action="" method="POST" class="book_the_room" id="ScheduleForm" novalidate>
        <table class="site_table">{%csrf_token %}
            {{form.as_table}}
            <tr>
                <td colspan="2"><button name="submit" class="add">Сохранить</button></td>
            </tr>
        </table>
    </form>

</div>



<script>
    const csrftoken = document.getElementsByName('csrfmiddlewaretoken').item(0).value
    get_user_data()
    document.getElementById("id_user").addEventListener("change", get_user_data)

    // Обновляет значение группы пользователя при выборе в select
    function get_user_data() {
        var id = document.getElementById('id_user');
        //var manager =document.getElementById('id_group');
        $.ajax({
            type: 'POST',
            headers: { "X-Requested-With": "XMLHttpRequest" },
            data: { "user": id.value, "csrfmiddlewaretoken": csrftoken },
            success: function (response) {
                group = document.getElementById("id_groups")
                group.checked = response.manager
                console.log(response)

            },
            error: {},
        })
    }




</script>




{% endblock %}