{% extends 'new_site/base.html' %}
{% load custom_filters %}

{% block title %}Альфа.Сотрудники{% endblock %}
{% block content %}
<div class="schedule">
    <h1>Роли сотрудников</h1>
    <form action="" method="POST" class="book_the_room" id="ScheduleForm" novalidate>
        <table class="site_table">{%csrf_token %}
            {{form.as_table}}
            <tr>
                <td colspan="2"><button name="submit" class="add">Сохранить</button></td>
            </tr>
        </table>
    </form>

</div>

<script>
    const csrftoken = document.getElementsByName('csrfmiddlewaretoken').item(0).value
    user = document.getElementById("id_user")
    user.addEventListener("change", get_user_data)

    get_user_data()

</script>

{% endblock %}