{% extends 'new_site/base.html' %}
{% load custom_filters %}

{% block title %}Альфа.Совещания{% endblock %}

{% block content %}
<div class="rooms">
    <h1>Список комнат</h1>
    {% for room in rooms %}
    <div class="room" id="room_{{ room.id }}">
        <h2><a href="/rooms/{{room.id}}">{{ room.name }}</a></h2>
        <p><b>Мест:</b> {{room.seats}}</p>
        <p>{{ schedule|get_item:room.id }}</p>
        {% if room.board %}
        <div class="description_image-board">
            <img src="../../static/img/board.png">
        </div>
        {% endif %}
        {% if room.projector %}
        <div class="description_image-projector">
            <img src="../../static/img/projector.png">
        </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if request.user|has_group:"manager" %}
    <div class="add_room">
        <a href="/addroom"><input type="button" class="add" value="+ Добавить комнату"></a>
    </div>
    <div class="spacer"></div>
    <div class="meetings"></div>

    <script>
        // обновление списка встреч с заданным интервалом
        const csrftoken = document.getElementsByName('csrfmiddlewaretoken').item(0).value
        var seconds = 10;

        // первый вызов при загрузке
        update_meetings({{ user.id }}, csrftoken);

        setTimeout(function run_update_meetings() {
            update_meetings({{ user.id }}, csrftoken);
        setTimeout(run_update_meetings, 1000 * seconds);
    }, 1000 * seconds);
    </script>

    <script>
        // функция подтверждения/отклонения встреч, 
        // вызывается нажатием кнопок подтвердить/отклонить
        function send_meeting_answer(answer, elem) {
            // создание html-заглушки на месте встречи после подтверждения/отклонения
            create_html_answer(answer, elem, csrftoken)

            // запрос на сервер об обновлении списка записей
            timeout_seconds = 1
            setTimeout(function () {
                send_answer_to_db_and_organizator(answer, elem, csrftoken);
                update_meetings({{ user.id }}, csrftoken);
        }, 1000 * timeout_seconds);}
    </script>

    {% endif %}
</div>

{% endblock %}