{% extends 'new_site/base.html' %}
{% load custom_filters %}

{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="room">


</div>
<p>Совещания назначенные мной:</p>
{% for meeting in i_create %}
<p>{{meeting}}</p>
{% endfor %}
<p>Совещания назначенные мне:</p>
{% for meeting in I_approve %}
<p>{{meeting}}</p>
<input type="submit" value="Принять" onclick="approve_meeting('approve')">
<input type="submit" value="Отклонить" onclick="approve_meeting('decline')">

{% endfor %}
<script>

    function approve_meeting(status) {
        alert("in progress!")
    }

</script>

{% endblock %}