{% extends 'new_site/base.html' %}
{% load custom_filters %}

{% block title %}{{room.name}}. Подробности{% endblock %}
{% block content %}
<div class="rooms">
    <div class="schedule">
        <h1>{{room.name}}</h1>
        <p><b>Мест: {{room.seats}}.
                {% if room.board %} C доской. {% endif %}
                {% if room.projector %} C проектором.{% endif %}
            </b></p>
        <p><b>{% if room.description != "Нет описания" %}Описание: {{ room.description }}{% endif %}</b></p>
        <input type="submit" class="book" value="показать бронирование" id="show_form_button" onclick="show_form()">
        <table class="site_table" id="book_table" {{form_is_open}}>
            <form action="" method="POST" class="book_the_room" id="ScheduleForm">
                {%csrf_token %}
                {{form.as_table}}
                <tr>
                    <td colspan='2'><button class="book" name="submit">Забронировать</button>
                </tr>
                </tr>
        </table>
        </form>
    </div>

    <div class="spacer"></div>
    <div class="schedule">
        <p><b>Расписание комнаты:</b></p>
        </p>
        {% if schedule %}
        <ul>
            {% for meeting in schedule %}
            {% if meeting.start_time|date:"d.m.Y" == meeting.end_time|date:"d.m.Y" %}
            <li><b>Дата:</b> {{meeting.start_time|date:"d.m.Y"}}
                <b>c</b> {{meeting.start_time|date:"H:i"}}
                <b>до</b> {{meeting.end_time|date:"H:i"}}
            </li>
            {% else %}
            <li><b>Начало:</b> {{meeting.start_time|date:"d.m.Y H:i"}} -
                <b>Конец:</b> {{meeting.end_time|date:"d.m.Y H:i"}}
            </li>
            {% endif %}
            <p style="margin-bottom: 5px;"><b>Организатор:</b>
                {{meeting.organizator_id.get_full_name}}</p>
            {% endfor %}
        </ul>
        {% else %}
        <p>Комната свободна!</p>
        {% endif %}
    </div>

</div>

<script>
    // скрипт задает начальные значения даты начала и конца встречи
    var start = _add_and_format_time_for_datetime_local(new Date(), 1)
    var end = _add_and_format_time_for_datetime_local(new Date(), 2)

    initial_start_time = document.getElementById("id_start_time").value
    initial_end_time = document.getElementById("id_end_time").value

    // проверить, пытался ли пользователь установить время. Если не пытался, задать время,
    // иначе оставить то, что пытался ввести пользователь
    if (!initial_start_time || !initial_end_time) {
        document.getElementById("id_start_time").value = start
        document.getElementById("id_end_time").value = end
    }

    document.getElementById("id_start_time").addEventListener("change", start_time_changed)
    document.getElementById("id_end_time").addEventListener("change", end_time_changed)

</script>

<script>
    // устанавливает начальное значение кнопки бронирования
    book_table = document.getElementById('book_table')

    if (book_table.hidden) {
        book_table.value = "показать бронирование"
    } else {
        book_table.value = "скрыть бронирование"
    }

</script>


{% endblock %}